<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="PolitehWinForm.Properties.Settings.ConnectionString"
            connectionString="character set=WIN1251;data source=localhost;initial catalog=C:\data\POLITEHDB.FDB;user id=sysdba;Password=masterkey"
            providerName="FirebirdSql.Data.FirebirdClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>